nav {
    background: white;
    margin: 20px;
    padding-top: 5px;
    font-size: 14px;
}

.header-button {
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 10px;
    color: black;
}

.header-button:hover {
    text-decoration: underline;
    color: black;
}

#apps {
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
}

#logo-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    margin-top: 100px;
}
#search-bar {
    border-radius: 30px;
    border-width: 2px;
    width: 550px;
    height: 40px;
    border-color: whitesmoke;
    font-size: 15px;
}

#search-bar-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    margin-top: 100px;
}

footer {
    margin: auto;
    resize: both;
    margin-top: 200px;
    height: 125px;
    width: 2000px;
    background: whitesmoke;
    color: gray;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

button {
    width: 140px;
    height: 35px;
    font-size: 13px;
    color:rgb(71, 71, 71);
    background: rgb(226, 225, 225);
    margin: 15px;
}

#button-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    margin-top: 70px;
}

#gmail {
    position: fixed;
    margin: 0 1500px;
}

#images {
    position: fixed;
    margin: 0 1560px;
}

.footer-button {
    text-decoration: none;
    display: inline;
    position: fixed;
    margin: 0px;
    padding: 10px;
}

.footer-button:hover {
    text-decoration: underline;
    color: black;
}

#location {
    margin-left: 20px;
}

hr {
    height: 1px;
    background: whitesmoke;
    color: gray;
}

#advertising {
    left: 20px;
}

#business {
    left: 120px;
}

#how-search-works {
    left: 220px;
}

#privacy {
    right: 320px;
}

#terms {
    right: 220px;
}

#settings {
    right: 120px;
}

body {
    font-family: "Roboto", sans-serif;
    margin-bottom: 125px;
}

a {
    text-decoration: none;
    color: black
}