nav {
    background: white;
    margin: 20px;
    font-size: 12px;
}

.header-button {
    display: inline;
    margin: 0;
    padding: 10px;
}

#logo {
    position: fixed;
    margin: 100px 800px;
}
#search-bar {
    position: fixed;
    margin: 250px 650px;
    border-radius: 30px;
    border-width: 2px;
    width: 550px;
    height: 40px;
    border-color: whitesmoke;
    font-size: 15px;
}

footer {
    margin: 675px 0;
    height: 125px;
    width: 2000px;
    background: whitesmoke;
    color: gray;
    font-size: 14px;
}

button {
    width: 140px;
    height: 35px;
    font-size: 13px;
    color:rgb(71, 71, 71);
    background: rgb(226, 225, 225);
}

#im-feeling-lucky {
    position: fixed;
    margin: 350px 950px;
}

#google-search {
    position: fixed;
    margin: 350px 750px;
}

#gmail {
    position: fixed;
    margin: 0 1500px;
}

#images {
    position: fixed;
    margin: 0 1560px;
}

.footer-button {
    display: inline;
    margin: 0;
    padding: 10px;
}

#location {
    padding: 10px;
    margin: 0px;
}

hr {
    height: 1px;
    background: whitesmoke;
    color: gray;
}

#privacy {
    position: fixed;
    margin: 0 1300px;
}

#terms {
    position: fixed;
    margin: 0 1360px;
}

#settings {
    position: fixed;
    margin: 0 1420px;
}

body {
    position: fixed;
}